# Git
**/.git
**/.gitignore

# Docker
**/docker-compose.yml
**/Dockerfile
**/.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.pyc

# Virtual environment
**/venv/
**/env/
**/.env
**/.venv
**/setenv.sh
**/setenv.bat

# PyCharm
**/.idea

# VS Code
**/.vscode/

# Mac/OSX
**/.DS_Store

# Windows
**/Thumbs.db

**/README.md
**/Makefile

Test_task_windy.pdf